.dialog-crear {
  width: 1100px !important;
  max-width: 95vw !important;

  background: white;
  border-radius: 12px;
  padding-bottom: 12px;
}


::ng-deep .mat-dialog-container {
  max-width: none !important;
  width: auto !important;
}


.contenido {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

mat-form-field {
  width: 100% !important;
}


.fila-dos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.fila-uno.cliente-full {
  display: grid;
  grid-template-columns: 1fr;
}

.detalles-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
}

@media (max-width: 900px) {
  .detalles-grid {
    grid-template-columns: 1fr;
  }
}

.detalle-item {
  display: grid;
  grid-template-columns: 2.5fr 80px 110px 40px;
  gap: 14px;

  align-items: center;

  padding: 14px;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  background: #fafafa;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.producto-field {
  width: 100% !important;
}

.cantidad-field {
  width: 80px !important;
}


.subtotal {
  width: 110px;
  text-align: right;
  font-size: 15px;
  font-weight: bold;
}

.detalle-item button {
  width: 40px;
  height: 40px;
}


.total {
  text-align: right;
  margin-top: 12px;
  font-size: 22px;
  font-weight: bold;
}