.header-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
  background: linear-gradient(90deg, #23395d, #3b568f);
  color: white;
  border-radius: 12px;
  margin-bottom: 20px;
}

.stats-card {
  display: flex;
  align-items: center;
  background: white;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 20px;
  gap: 15px;
}

.stats-card .icon {
  font-size: 45px;
  color: #2a4e96;
}

.count {
  font-size: 24px;
  font-weight: bold;
  color: #2a4e96;
}

.table-container {
  padding: 15px;
  border-radius: 12px;
  background: white;
}

.filter-field {
  width: 300px;
  margin-bottom: 15px;
}

.low {
  color: red;
  font-weight: bold;
}