<h2 mat-dialog-title>{{ esEdicion ? 'Editar Inventario' : 'Nuevo Inventario' }}</h2>

<mat-dialog-content>
  <form [formGroup]="form" class="example-container">

    <!-- Nombre -->
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" placeholder="Ej. Botellas de agua" />
      <mat-error *ngIf="form.get('nombre')?.hasError('required')">
        El nombre es obligatorio.
      </mat-error>
      <mat-error *ngIf="form.get('nombre')?.hasError('minlength')">
        Mínimo 3 caracteres.
      </mat-error>
    </mat-form-field>

    <!-- Stock Total -->
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Stock Total</mat-label>
      <input matInput type="number" formControlName="stockTotal" />
      <mat-error *ngIf="form.get('stockTotal')?.hasError('required')">
        El stock total es obligatorio.
      </mat-error>
      <mat-error *ngIf="form.get('stockTotal')?.hasError('min')">
        No puede ser negativo.
      </mat-error>
    </mat-form-field>

    <!-- Unidad de Medida -->
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Unidad de Medida</mat-label>
      <mat-select formControlName="unidadMedida">
        <mat-option value="unidades">Unidades</mat-option>
        <mat-option value="litros">Litros</mat-option>
        <mat-option value="kg">Kilogramos</mat-option>
        <mat-option value="cajas">Cajas</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('unidadMedida')?.hasError('required')">
        Selecciona una unidad de medida.
      </mat-error>
    </mat-form-field>

    <!-- Mínimo Stock -->
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Mínimo Stock</mat-label>
      <input matInput type="number" formControlName="minimoStock" />
      <mat-error *ngIf="form.get('minimoStock')?.hasError('required')">
        El mínimo stock es obligatorio.
      </mat-error>
      <mat-error *ngIf="form.get('minimoStock')?.hasError('min')">
        No puede ser negativo.
      </mat-error>
    </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="close()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="operate()" [disabled]="form.invalid">
    {{ esEdicion ? 'Actualizar' : 'Guardar' }}
  </button>
</mat-dialog-actions>
