<h2 mat-dialog-title>
  {{ data?.id ? 'Editar Usuario' : 'Nuevo Usuario' }}
</h2>

<mat-dialog-content>
  <form [formGroup]="form" class="example-container">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" placeholder="Ej. Juan Pérez" />
      <mat-error *ngIf="form.get('nombre')?.hasError('required')">El nombre es obligatorio.</mat-error>
      <mat-error *ngIf="form.get('nombre')?.hasError('minlength')">Mínimo 3 caracteres.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Correo</mat-label>
      <input matInput type="email" formControlName="correo" placeholder="Ej. correo@ejemplo.com" />
      <mat-error *ngIf="form.get('correo')?.hasError('required')">El correo es obligatorio.</mat-error>
      <mat-error *ngIf="form.get('correo')?.hasError('email')">Ingresa un correo válido.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" formControlName="contrasena" />
      <mat-error *ngIf="form.get('contrasena')?.hasError('required')">La contraseña es obligatoria.</mat-error>
      <mat-error *ngIf="form.get('contrasena')?.hasError('minlength')">Mínimo 6 caracteres.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Roles</mat-label>
      <mat-select multiple [value]="selectedRoleIds" (selectionChange)="selectedRoleIds = $event.value">
        <mat-option *ngFor="let r of roles" [value]="r.id">{{ r.nombre }}</mat-option>
      </mat-select>
      <mat-error *ngIf="!selectedRoleIds || selectedRoleIds.length === 0">Selecciona al menos un rol.</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button (click)="close()">Cancelar</button>
  <button mat-flat-button color="primary" (click)="operate()">
    {{ data?.id ? 'Guardar Cambios' : 'Crear Usuario' }}
  </button>
</mat-dialog-actions>
